.chart-container {
    height: 330px;
    margin-bottom: 40px;
    .chart-title {
        @include font($size: 1em, $weight: 800);
    }
    .bar {
        cursor: pointer;
        fill: rgb(38, 160, 204);
        &:hover{
            fill: yellow;
        }
    }
    .yAxis {
        .tick {
            text {
                @include font($size: 1em)
            }
        }
    }
    .xAxis {
        .tick {
            text {
                @include font($size: 1em)
            }
        }
    }
}

