.chart-container {
    .chart-title {
        @include font($size: 1em, $weight: 800);
    }
    .bar {
        cursor: pointer;
        fill: #861906;
        &:hover{
            fill: yellow;
        }
    }
    .yAxis {
        .tick {
            text {
                @include font($size: 1em)
            }
        }
    }
    .xAxis {
        .tick {
            text {
                @include font($size: 1em)
            }
        }
    }
}