.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
    .dashboard-panels {
      // Add any additional styling for the dashboard panels container
      padding: 1rem;
  
      .row {
        display: flex;
  
        .col-md-6 {
          // flex: 1;
          padding: 0 0.5rem;
  
          .panel {
            // Add any additional styling for the panels
            padding: 1rem;
            background-color: $panel_background;
            border: $panel_border;
            margin: .5em;
          }
        }
      }
    }
  

  }
  