.globe-container {
    width: 100%;
    position: relative;
    // padding-bottom: 75%; /* 4:3 aspect ratio */
  }
  
  .globe-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  