$dark_red_background: #770b0b63;
$header_background: $dark_red_background;
$footer_background: $dark_red_background;

$text_color: #d2cece;

$link_hover_color: rgb(243, 243, 12);

$panel_background: #ea0e0e17;

$panel_border: rgba(255, 255, 255, 0.175) .02em solid;

