$dark_red_background: #770b0b63;
$header_background: $dark_red_background;
$footer_background: $dark_red_background;

$text_color: #d2cece;

$link_hover_color: rgb(243, 243, 12);

$panel_background: #ea0e0e17;

$panel_border: rgba(255, 255, 255, 0.175) .02em solid;

$font-family: "Arial", sans-serif;
$font-size: 14px;
$font-weight: normal;
$font-color: #7ee77e;

@mixin font($family: $font-family, $size: $font-size, $weight: $font-weight, $color: $font-color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    fill: $color;
  }

